#name {
    font-size: 7vw;
    width: 100%;
    font-weight: bold;
    font-variant: small-caps;
}

#tagline {
    font-size: 4vw;
    width: 100%;
    white-space: nowrap;
}

#links {
    font-size: 4vw;
    width: 100%;
    margin-bottom: 8vh;
}

@media (min-width: 576px) {
    #name {
        font-size: 40px;
    }
    #tagline {
        font-size: 22px;
        margin-top: -8px;
    }
    #links {
        font-size: 22px;
        margin-top: 8px;
    }
}

@media (min-width: 768px) {
    #name {
        font-size: 52px;
    }
    #tagline {
        font-size: 28px;
        margin-top: -12px;
    }
    #links {
        font-size: 28px;
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    #name {
        font-size: 74px;
    }
    #tagline {
        font-size: 42px;
        margin-top: -20px;
    }
    #links {
        font-size: 42px;
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
    #name, #links {
        font-size: 90px;
    }
    #tagline {
        font-size: 50px;
        margin-top: -30px;
    }
    #links {
        font-size: 50px;
        margin-top: 20px;
    }
}

body {
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #eee;
    text-align: center;
}

a, #cv {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

a:hover, #cv:hover {
    color: #333;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wodry span {
    width: 100%;
}

#headshot {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #333;
    margin-bottom: 8vh;
}

#headshot img {
    width: 100%;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
}


#cv-col {
    position: relative;
}

.cv-version {
    position: absolute;
    opacity: 0;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.cv-version.open {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

#print {
    top: 0%;
    left: 35%;
}

#print.open {
    top: 120%;
    left: 0%;
}

#screen {
    top: 0%;
    left: 35%;
}

#screen.open {
    top: 120%;
    left: 70%;
}